@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* the * is used to selectall elements inside another element*/
/* The latest version of CSS is W3 and CSS 4.15*/
/* */
*{
	font-family: montserrat, sans-serif; /* the font family for the page, these the two most common familes used on websites */
	font-size: 15px;
	}
.student_schedule_tbl {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}
td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}